<div>
  <h2 *ngIf="!itemInfo || itemInfo.itemId === undefined">Add record</h2>
  <h2 *ngIf="itemInfo && itemInfo.itemId !== undefined">Update record (ID: )</h2>
  <form>
    <div class="form-group">
      <label for="name-input">Item Name:</label>
      <input  type="text" id="name-input" [(ngModel)]="itemInfo.itemName" class="form-control" name="name" placeholder="Enter To-Do Item"/>
    </div>
    <div class="form-group">
      <label for="done-input">Status(check-box to mark complete) :</label>
      <input type="checkbox" id="done-input" [(ngModel)]="itemInfo.isDone" class="form-check-input" name="status"/>
    </div>
    <button type="button" class="btn btn-primary" (click)="createOrUpdateRecord($event)">Save</button>

  </form>
</div>
